body {
    font-size: 0px;
}
.container {
    display: flex;
    justify-content: center;
    width:1000px; 
    height: 600px;
}

#game-map{
    width: 60%;
}
.tile {
    display: inline-block;
    width: 5%;
    height: 5%;
    background-size: cover;
}
.sky{
    background-color: rgb(102, 168, 209);
}

.cloud{
    background-color: white;
}

.dirt{
    background-image: url("../img/dirt.png");
}

.grass{
    background-image: url("../img/grass.png");
}

.leaf{
    background-image: url("../img/leaf.png");
    background-color: rgb(102, 168, 209);
}

.wood{
    background-image: url("../img/tree.png");
}

.rock{
    background-image: url("../img/rock.png");
}
#toolColumn {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.tool {
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top:30px;
}
.axe{
    background-image: url("../img/axe.png");
}

.pickaxe{
    background-image: url("../img/pickaxe.png");
}

.shovel{
    background-image: url("../img/shovel.png");
}
#inventory {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    margin-top:30px;
}

.blackbg {
    background-color:black;
}
.navbar {
    width:10%;
}
@media screen and (max-width: 800px) {
    .container {
        width: 700px;
        height: 460px;
    }
    .tool{
        width:40px;
        height:40px;
    }

@media screen and (max-width: 550px) {
    .container {
        width: 450px;
        height: 300px;
    }
    .tool {
        width:30px;
        height:30px;
    }