.tile{
    width: 1%;
    height: 1%;
    margin: 0;
}

.sky{
    background-color: rgb(102, 168, 209);
}

.cloud{
    background-color: white;
}

.dirt{
    background-image: url("./img/dirt.png");
}

.grass{
    background-image: url("./img/grass.png");
}

.leaf{
    background-image: url("./img/leaf.png");
    background-color: rgb(102, 168, 209);
}

.tree{
    background-image: url("./img/tree.png");
}

.rock{
    background-image: url("./img/rock.png");
}

.axe{
    background-image: url("./img/axe.png");
}

.pickaxe{
    background-image: url("./img/pickaxe.png");
}

.shovel{
    background-image: url("./img/shovel.png");
}