.tile{
    width: 1%;
    height: 1%;
    margin: 0;
}

.sky{
    background-color: rgb(102, 168, 209);
}

.cloud{
    background-color: white;
}

.dirt{
    background-image: url("./img/dirt.png");
}

.grass{
    background-image: url("./img/grass.png");
}

.leaf{
    background-image: url("./img/leaf.png");
    background-color: rgb(102, 168, 209);
}

.tree{
    background-image: url("./img/tree.png");
}

.rock{
    background-image: url("./img/rock.png");
}

#toolColumn{
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 10vh;
    display: block;
}

button{
    height: 20vh;
    width: 20vh;
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

button.axe{
    background-image: url("./img/axe.png");
}

button.pickaxe{
    background-image: url("./img/pickaxe.png");
}

button.shovel{
    background-image: url("./img/shovel.png");
}